<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Rick</h1>
    <h1>Hello Morty</h1>
    <h1>как дела?</h1>
    <h1>отлично, а у тебя как?</h1>
    <h1>На самом деле тяжко, слишком много домашки</h1>
    <h1>А что задали на дом?</h1>
    <h1>Пратиковаться использовать github</h1>
    <h1>Аа, это же легко!</h1>
    <h1>Можешь помочь?</h1>
    <h1>Да, конечно!</h1>
</body>
</html>